#intro-img {
  opacity: 1;
}

#intro-overlay {
  position: absolute;
	animation-name: loadingIntro;
	mix-blend-mode: screen;
	background-color: white;
	opacity: 0.5;
	top: 0;
}

#intro-img-overlay {
  opacity: 0;
}
